<table class="table">
    <thead>
        <tr>
            <th scope="col" *ngFor="let item of tableHeader">{{item.displayName}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of data">
            <ng-container *ngFor="let column of tableHeader">
                <td>{{row[column.propertyName]}}</td>
            </ng-container>
        </tr>
    </tbody>
</table>


<div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
        (pageChange)="refreshCountries()">
    </ngb-pagination>
</div>